#map {
  height: 100vh;
}

.leaflet-popup-content-wrapper,
.leaflet-popup.tip {
  background-color: #000;
  color: whitesmoke;
}

.pannel {
  display: flex;
  justify-content: space-around;
  text-justify: center;
  width: 40%;
  border: 4px;
  border-color: #000;
  text-align: center;
  margin: auto;
  color: #fff;
}

#slider {
  width: 20%;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}
