#map {
  height: 100vh;
}

.leaflet-popup-content-wrapper,
.leaflet-popup.tip {
  background-color: #000;
  color: whitesmoke;
}

.pannel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  margin: auto;
  color: #fff;
}

.title {
  display: flex;
  text-align: center;
  margin: auto;
  flex: 1;
  margin-left: 20px;
}

.controls {
  display: flex;
  margin: auto;
}

#slider {
  width: 10em;
  justify-content: center;
  margin: 20px;
  margin-top: auto;
  margin-bottom: auto;
}
